<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" packages="com.customAppender">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{ISO8601} %-5level [%t] %c{3} :%M:%L - %m%n}{FATAL=orange,
    ERROR=red, WARN=pink, INFO=blue, DEBUG=green, TRACE=yellow}"/>
        </Console>
        <File name="File" fileName="dao-log.txt" immediateFlush="false">
            <PatternLayout pattern="%highlight{%d{ISO8601} %-5level [%t]  %c{5} :%M:%L - %m%n}{FATAL=orange,
    ERROR=red, WARN=pink, INFO=blue, DEBUG=green, TRACE=yellow}"/>
        </File>
        <MyCustomAppender name="MyCustomAppender" >
            <PatternLayout charset="GBK" pattern="%highlight{%d{ISO8601} %-5level [%t]  %c{5} :%M:%L - %m%n}{FATAL=orange,
    ERROR=red, WARN=pink, INFO=blue, DEBUG=green, TRACE=yellow}"/>
        </MyCustomAppender>
    </Appenders>

    <Loggers>

        <logger name="com.dao.*" level="info">
            <AppenderRef ref="File"/>
        </logger>

        <Root level="info">
            <AppenderRef ref="MyCustomAppender"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>




