<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Archetype Created Web Application</display-name>


    <servlet>
        <servlet-name>UserHome</servlet-name>
        <servlet-class>com.web.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserHome</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>com.web.servlet.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.web.servlet.UserLogInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserErr</servlet-name>
        <servlet-class>com.web.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserErr</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserAnswer</servlet-name>
        <servlet-class>com.web.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserAnswer</servlet-name>
        <url-pattern>/answer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Captcha</servlet-name>
        <servlet-class>com.web.servlet.CaptchaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Captcha</servlet-name>
        <url-pattern>/checkCaptcha</url-pattern>
    </servlet-mapping>



    <listener>
        <listener-class>com.web.listener.ContextListener</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>/homePage.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>storage</param-name>
        <param-value>db</param-value>
    </context-param>
    <context-param>
        <param-name>memory</param-name>
        <param-value>memory</param-value>
    </context-param>

    <error-page>
        <error-code>500</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
</web-app>
