body{background:#efefef  url(/images/hexellence.png);margin: 0; padding: 0; font: 16px/24px Arial, Tahoma, sans-serif;}

h4{
	color: darkgreen;
}

.container{

	padding-top: 20px
}
.form-control {
	width: 50%
}

span.error {
	color: #a94442
}

.table{
	width: 50%
}

.row{
	
}
.control-label{
	color: darkgreen;
}